body{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    height: 50px;
    background-color: #333;
    color: #fff;
    align-items: center;
}

nav > div{
    width: 100px;
    background-color: red;
    text-align: center;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

h2{
    text-align: center;
}

#home{
    height: 300px;
    position: relative;
    color: #fff;
    overflow: hidden;
}

#home > div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home > img{
    width: 100%;
    object-fit: cover;
}

.transparent-bg{
    background-color: rgba(0, 0, 0, 0.7);
}

#products > div{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#products > div > article{
    display: flex;
    flex-direction: column;
    width: 150px;
    box-shadow: 0px 0px 10px #777;
}

#products > div > article > div{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
/* mobile */
@media screen and (max-width: 480px) {
    nav{
        flex-direction: column;
        height: 100%;
    }
    nav > ul{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    nav > ul > li{
        margin-top: 10px;
    }
    nav li:last-child{
        margin-bottom: 10px;
    }
    #products > div{
        flex-wrap: wrap;
    }
}
/* tablets */
@media screen and (max-width: 481px) and (max-width: 768px) {
    #products > div{
        flex-wrap: wrap;
    }
}
/* laptops */
@media screen and (max-width: 769px) and (max-width: 1024px){

}

#products > div > article h3,
#products > div > article p{
    text-align: center;
}
